<h3><%=@player_name_one.name%> vs <%=@player_name_two.name%></h3>

<h3><%=@player_name_two.name%> has <%=@player_name_two.HP%>HP</h3>

<form action="/attack" method=post>
  <input type="submit" value="Attack Player 2">
</form>

